* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
}

li {
	list-style: none;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  position: relative;
  min-height: 600px;
}

.background {
	background: url('../assets/library.jpg');
	background-size: cover;
	background-position: center;
	min-height: 300px;
}

.background h1 {
	color: #fff;
	margin: 0;
	padding-top: 30px;
}


.AddBookForm {
	max-width: 460px;
	margin: 0 12px;
	background: #e7e8ea;
	padding: 24px;
	border-radius: 7px;
	box-shadow: 3px 3px 3px #000;
}

.container {
    padding: 0 24px;
}

.container, 
h1, 
.delete-all-btn {
	position: relative;
    z-index: 1;
}

.form-container {
	width: 100%;
}

.BookList {
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
	flex-direction: column;

}


.Book input[type="text"] {
	width: 86%;
}

.bl-text {
	padding: 12px;
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    opacity: .9;
    box-shadow: 1px 1px 1px;
    margin-bottom: 12px;
}

.bl-text:hover {
	opacity: 1;
}

.book-info {
	display: flex;
    flex-wrap: wrap;
}

.book-title,
.book-id,
.book-comments {
	display: flex;
	padding: 12px 0 
 }


.book-title,
.book-id {
	flex: 1;
}

.book-comments {
	flex: 1 1 100%;
}

.book-btn {
	height: 30px;
	margin-bottom: 12px;
}

input[type="text"] {
	width: 75%;
    margin-bottom: 12px;
    height: 45px;
    border: none;
    border: 1px solid #ededed;
    border-radius: 3px;
    box-shadow: 1px 1px 2px;
}

input[type="submit"],
button {
	border: 1px solid gray;
	background: #0668ef;
	height: 47px;
	color: #fff;
	font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    left: -4px;
    cursor: pointer;
}

button {
	margin-right: 4px;
}

.delete-btn,
.delete-all-btn {
	background: #792016;
}

.delete-all-btn {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	height: 50px;
	width: 175px;
	border-radius: 3px;
	border: none;
	box-shadow: 0px 1px 2px #000;
	margin: 4px;
}

.text {
	font-size: 18px;
}

@media screen and (min-width: 500px) {
	.form-container {
		width: 50%;		
	}

	.container {
		max-width: 960px;
		margin: auto;
	}

	input[type="text"] {
		width: 85%;
	}

	.Book input[type="text"] {
		width: 43%;
	}

	.AddBookForm {
		margin: auto;
	}

	.BookList {
	    flex-direction: row;
	    align-items: center;
	}
	
	.bl-text {
		margin-bottom: 0;
	}
}