html {
	/*background: #b3e6e74a;*/
	background: url('../assets/library.jpg');
	background-size: cover;
	background-position: center;
}

h1 {
	text-align: center;
}

li {
	list-style: none;
}

.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: auto;
  position: relative;
  min-height: 600px;
}

.background {
	background: #dedded;
	height: 100%;
	min-height: 600px;
	opacity: .6;
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-evenly;
    padding: 0 24px;
}

.container, 
h1, 
.delete-all-btn {
	position: relative;
    z-index: 1;
}

.form-container,
.book-container {
	align-self: end;
	width: 100%;
}


input[type="text"] {
	width: 93%;
	margin-bottom: 12px;
}

input[type="submit"],
button {
	border: 1px solid gray;
	background: yellow;
}

button {
	margin-right: 4px;
}

.delete-all-btn {
	background: tomato;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	height: 50px;
	width: 175px;
	border-radius: 3px;
	border: none;
	box-shadow: 0px 1px 2px #000;
	margin: 4px;
}

@media screen and (min-width: 500px) {
	.container {
		flex-direction: row;
	}

	.delete-all-btn {
		/*position: absolute;
	    top: 15px;
	    right: 15px;*/
	    float: right;
	}
}